<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.htre.system.mapper.SysPostMapper">

    <resultMap id="RoleMap" type="com.htre.model.system.SysPost" autoMapping="true"></resultMap>
    <!--条件分页查询-->
    <select id="selectPage" resultMap="RoleMap">
        SELECT id,post_code,name,description,status,create_time,update_time,is_deleted
        FROM sys_post
        <where>
            <if test="vo.name != null and vo.name != ''">
                and name LIKE CONCAT('%',#{vo.name},'%')
            </if>
            <if test="vo.postCode != null and vo.postCode != ''">
                and post_code LIKE CONCAT('%',#{vo.postCode},'%')
            </if>
            <if test="vo.status != null and vo.status != ''">
                and status LIKE CONCAT('%',#{vo.status},'%')
            </if>
            and is_deleted = 0
        </where>
        order by id desc
    </select>
</mapper>